<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--链接一个外部样式表-->
    <link rel="stylesheet" th:href="@{/css/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <!--  悬浮按钮设计 -->
    <style>
        .hover {
            bottom: 1.25rem;
            position: fixed;
            right: 1.25rem;
            z-index: 1032;
        }
    </style>
    <title>学生信息</title>
</head>
<body>
    <!--引入导航-->
    <div th:replace="left :: left_navbar"></div>
    <!--  主页面  -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">学生信息</h3>

                        <div class="card-tools">
                            <form role="form" th:action="@{/student/studentIntro}" method="post">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" class="form-control float-right" id="studentId" name="studentId" placeholder="输入学号">

                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-block btn-flat" type="submit">
                                            搜索
                                        </button>
                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 100%;">
                        <table class="table table-head-fixed">
                            <thead>
                            <tr>
                                <th>学号</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>出生日期</th>
                                <th>生源地</th>
                                <th>院系</th>
                                <th>政治面貌</th>
                                <th>是否住宿</th>
                                <th>宿舍电话</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${students.isEmpty()}">
                                <td colspan="3">No student</td>
                            </tr>
                            <tr  th:each="student : ${students}">
                                <th scope="row" th:text="${student.student_id}">1</th>
                                <td th:text="${student.student_name}"></td>
                                <td th:text="${student.student_sex}"></td>
                                <td th:text="${student.student_birth}"></td>
                                <td th:text="${student.student_origin}"></td>
                                <td th:text="${student.student_department}"></td>
                                <td th:text="${student.student_status}"></td>
                                <td th:text="${student.student_resident}"></td>
                                <td th:text="${student.student_telephone}"></td>
                                <td><a th:href="@{/student/studentIntro(studentId=${student.student_id})}">详情</a></td>
                                <td><a th:href="@{/student/deleteStudent(studentId=${student.student_id})}">删除</a></td>
                            </tr>
                            </tbody>
                        </table>

                        <a id="back-to-top" href="/student/toAddStudent" class="btn btn-primary hover" role="button" th:href="@{/student/toAddStudent}">
                            新增学生
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </nav>
</body>
</html>